extends ../layout/main

block variables
	- var title = 'Home'
	- var pageClass = 'index-page'

block content
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias similique totam aspernatur dolorum ipsam veniam quae eius fuga maiores nam.

